/junior-dev-back-bug/node_modules
/junior-dev-back-bug/searchData
/junior-dev-back-bug/client
/junior-dev-back-bug/junior-dev


junior-dev-bug/node_modules
junior-dev-bug/build
junior-dev-bug/.env.local